<footer class="bk-footer">

  <div class="bk-container bk-footer-grid">

    <!-- Brand -->
    <div class="bk-footer-brand">

   <a href="/" class="bk-brand">
  <img src="../assets/images/founder/BR30-Fevicon-Green.png" alt="BR30 Kart Logo">
  <span><b>BR30</b> Kart</span>
</a>

      <p>
        BR30 Kart is a premium digital marketplace for trading courses,
        ebooks, strategies, mentorship and creator-led learning products.
      </p>

      <div class="bk-socials">

        <a href="https://www.youtube.com/@br30traderofficial" target="_blank">
          <i class="fa-brands fa-youtube"></i>
        </a>

        <a href="https://www.instagram.com/br30Traderofficial" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="https://t.me/+hBAT4kWo63A4ZWY1" target="_blank">
          <i class="fa-brands fa-telegram"></i>
        </a>

        <a href="https://chat.whatsapp.com/B4t82SWBcgOIZTeQXp1wDI" target="_blank">
          <i class="fa-brands fa-whatsapp"></i>
        </a>

        <a href="https://x.com/MukeshKuma48159" target="_blank">
          <i class="fa-brands fa-x-twitter"></i>
        </a>

        <a href="https://www.linkedin.com/in/mukeshraj-br30/" target="_blank">
          <i class="fa-brands fa-linkedin-in"></i>
        </a>

      </div>

    </div>

    <!-- Marketplace -->
    <div class="bk-footer-col">

      <h3>Marketplace</h3>

<a href="../landing#premium-trading-courses">Premium Trading Courses</a>
<a href="../landing#trading-standard-courses">Trading Standard Courses</a>
<a href="../landing#crash-courses">Crash Courses</a>
<a href="../landing#other-digital-products">Other Digital Products</a>
<a href="../landing#ebooks-pdf">Trading E-Books & PDF</a>

    </div>

    <!-- Resources -->
<div class="bk-footer-col">

  <h3>Resources</h3>

  <a href="/company/how-it-works">How it Works</a>
  <a href="/company/support-community">Support Community</a>
  <a href="/company/verify">Certificate Verify</a>
  <a href="/company/learn-more">VIP Access</a>

</div>

<!-- Legal -->
<div class="bk-footer-col">

  <h3>Legal</h3>

  <a href="/company/terms-and-conditions">Terms & Conditions</a>
  <a href="/company/privacy-policy">Privacy Policy</a>
  <a href="/company/refund-policy">Refund Policy</a>
  <a href="/company/disclaimer">Disclaimer</a>
  <a href="/company/about-br30">About BR30</a>
  <a href="/company/contact">Contact Us</a>

</div>

  </div>

  <!-- Footer Bottom -->

<div class="bk-container bk-footer-bottom">

  <p>
    © 2026 BR30 Kart. All Rights Reserved.
  </p>

  <p class="bk-footer-built">
    Built With ❤️ by <strong>BR30 Group</strong>
  </p>

  <span>
    Trading education does not guarantee profit. Market risk applies.
  </span>

</div>

</footer>