* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #050505;
  color: #ffffff;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container {
  width: 100%;
  max-width: 380px;
  background: #1e293b;
  padding: 30px;
  border-radius: 20px;
  border: 1px solid #334155;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  margin: 100px auto 60px;
}
.container h2 {
  text-align: center;
  margin-bottom: 25px;
  color: #ffffff;
  font-weight: 600;
}
label {
  font-size: 13px;
  font-weight: 500;
  color: #cbd5e1;
  margin-bottom: 6px;
  display: block;
}
.input-box {
  display: flex;
  align-items: center;
  background: #050505;
  border: 1px solid #334155;
  border-radius: 10px;
  padding: 5px 12px;
  margin-bottom: 15px;
  position: relative;
  transition: 0.3s;
}
.input-box:focus-within {
  border-color: #a020f0;
}
.input-box input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  flex: 1;
  padding: 10px 5px;
  font-size: 15px;
}
.toggle-btn {
  cursor: pointer;
  color: #94a3b8;
  font-size: 18px;
}
button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #a020f0;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease;
  font-weight: 600;
  margin-top: 10px;
}
button:hover {
  background: #8219c4;
  transform: translateY(-2px);
}
.links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.links a {
  text-decoration: none;
  color: #a020f0;
  font-size: 14px;
  font-weight: 500;
}
.links a:hover {
  text-decoration: underline;
}
@media (max-width: 480px) {
  .container {
    padding: 20px;
  }
  h2 {
    font-size: 20px;
  }
}
.auth-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 0 5px;
}
.register-heading {
  font-size: 1.4rem;
  margin: 0;
  color: #fff;
  font-weight: 700;
}
.role-btn-small {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(160, 32, 240, 0.5);
  color: #fff;
  padding: 6px 12px;
  border-radius: 50px;
  font-size: 0.75rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s all ease;
  min-width: 70px;
}
.role-btn-small.active {
  background: #a020f0;
  border-color: #a020f0;
  box-shadow: 0 0 10px rgba(160, 32, 240, 0.3);
}
.role-btn-small:hover {
  background: #a020f0;
}
